.home {
    background-color:black;
    display: flex;
    flex-direction: column;
    /* width: 100vw;
    height: 100vh; */
}

.header {
    background-color: brown;
    color: wheat;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: blanchedalmond;
    color: brown;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 12vh;
}

.imgContainer {
    margin: 10px;
}