@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
/* * {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}*/
.nav {
  display: flex;
  /* padding: 2px; */
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(176, 74, 1); */
  background-color: rgb(0, 0, 0);
  /* background-color: rgb(64, 64, 64); */
  color: white;
  padding-right: 35px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .navMenuBar {
    display: none;
  }
  .navMenuList {
    position: unset;
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .navItem {
    color: white;
  }

  .navItem:hover {
    opacity: 0.8;
  }
}

.logoContainer {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  text-decoration: none; /* Remove underline from the link */

  padding-left: 10px;
}

.logoImage {
  width: 50px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}

.logoImage:hover {
  opacity: 0.8;
}

.logoText {
  font-size: 18px; /* Adjust font size as needed */
  margin: 0; /* Remove default margin from the h1 */
  color: #fff; /* Adjust text color as needed */
  padding-left: 10px;
}

.logoText:hover {
  opacity: 0.8;
}
